<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="views/style.css"> -->
    <title>나아라</title>

    <style>
        body {
            width: 60%;
            min-width: 750px;
            margin: 0 auto;
            background-color: aliceblue;
            color: rgb(63, 63, 63);
        }
        a {
            text-decoration: none;
            color: rgb(63, 63, 63);
        }
        #search_input {
            width: 80%;
            height: 23px;
        }
        .btn {
            background-color: white;
            border: 1px solid gray;
            padding: 5px;
            width: 70px;
            font-weight: 600;
        }
        .hospital_table {
            border: 1px solid gray;
            border-collapse: collapse;
            width: 100%;
            min-width: 500px;
        }
        .hospital_table tr {
            border: 1px solid gray;
            height: 50px;
        }
        .hospital_table .index {
            width: 30px;
        }
        .hospital_table .name {
            width: 200px;
            border-right: 1px solid gray;
            border-left: 1px solid gray;
        }
        .hospihospital_tabletal .addr {
            width: auto;
        }
    </style>
</head>

<body>
    <h3><a href="/">나아라</a></h3>
    <hr>
    <ul>
        <li><a href="/openapi">건강보험심사평가원 OpenAPI</a></li>
    </ul>

    <form method="GET" action="/">
        <select name="search_type">
            <option value="yadmNm">병원명</option>
            <option value="emdongNm">읍/면/동</option>
        </select>
        <input type="text" name="seacrh_input" id="search_input" placeholder="읍/면/동을 입력하세요." required>
        <input type="submit" class="btn" value="검색">
    </form>

    <div class="search_result">
        <table class="hospital_table">
        <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <td class="index"><%= data[i].인덱스 %></td>
                    <td class="name"><%= data[i].병원명 %></td>
                    <td class="addr" colspan="2"><%= data[i].주소 %></td>
                </tr>
        <% } %>
        </table>
    </div>
</body>

</html>