<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="views/style.css"> -->
    <title>나아라</title>

    <style>
        body {
            max-width: 500px;
            margin: 0 auto;
            background-color: aliceblue;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .search_result {
            border: 1px solid gray;
            max-width: 500px;
            min-height: 300px;
            margin: 10px 0;
        }
        .hospital {
            border: 1px solid gray;
            border-collapse: collapse;
            width: 500px;
        }
        .hospital .index, .hospital .name, .hospital .addr {
            padding: 5px;
        }
    </style>
</head>

<body>
    <h3><a href="/">나아라</a></h3>
    <hr>
    <ul>
        <li><a href="/openapi">건강보험심사평가원 OpenAPI</a></li>
    </ul>

    <form method="GET" action="/">
        <input type="text" name="emdong" id="emdong" placeholder="읍/면/동을 입력하세요." required>
        <input type="submit" value="검색">
    </form>

    <div class="search_result">
        <% for(var i = 0; i < data.length; i++) {%>
            <table class="hospital">
                <tr>
                    <td class="index"><%= data[i].인덱스 %></td>
                    <td class="name"><%= data[i].병원명 %></td>
                </tr>
                <tr>
                    <td class="addr" colspan="2"><%= data[i].주소 %></td>
                </tr>
            </table>
        <% } %>
    </div>
</body>

</html>