html {
  scroll-behavior: smooth;
  text-align: center;
}

body {
  padding-top: 10vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  padding: 0 2rem 0 2rem;

  font-size: max(1vw, 12px);
  color: white;
  background: #809FFF;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.menuText {
  float: left;
}

.menu {
  margin: 0;
  padding: 0;
  background: white;
  color: #809FFF;
  text-align: center;
  border-radius: 1vh;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .2);
}

.menu li {
  margin: 1.5vh 0 1.5vh 0;
  display: inline-block;
}

.menu #HeaderSignin, #HeaderSignup {
  margin: 1.5vh 2.5vh 1.5vh 2.5vh;
  display: inline-block;
  cursor: pointer;
  color: #5f87ff;
}

ul, li {
  list-style: none;
}

.MainTopDiv {
  top: 0;
  left: 0;
  width: 100%;
  height: 18vh;
  background: #809FFF;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 0 0 3vh 3vh;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, .1);
}

.MainTopSpan {
  position: relative;
  display: block;
  top: 5vh;
  font-size: 20px;
  font-weight: 600;
}

.MainTopSpanSub {
  position: relative;
  display: block;
  top: 5vh;
  font-size: 14px;
  font-weight: 600;
}

.MainTopSpan2 {
  position: relative;
  display: block;
  top: 7vh;
  font-size: 14px;
  font-weight: 600;
}

.MainTopBtn {
  position: relative;
  top: 6vh;
  width: 15vh;
  height: 3vh;
  border: none;
  background: white;
  color: #809FFF;
  border-radius: 2vh;
  cursor: pointer;
}

.MainTopSearchDiv {
  position: relative;
  text-align: center;
  top: -2vh;
}

.MainTopSearchDiv .MainTopSelect {
  width: 12vh;
  height: 6vh;
  border: none;
  border-radius: 1vh;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
  color: #777777;
  text-align: center;
}

.MainTopSubDiv {
  display: inline-block;
  background: white;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
  border-radius: 1vh;
  margin-left: 0.5vh;
}

.MainTopSearchDiv input {
  width: 35vh;
  height: 4vh;
  border: 1vh solid white;
  border-radius: 1vh;
  color: #777777;
}

.MainTopSearchDiv input:focus {
  width: 35vh;
  height: 4vh;
  border: 1vh solid white;
  border-radius: 1vh;
  outline: none;
  color: #809FFF;
  font-weight: bold;
}

.MainTopSearchDiv button {
  width: 20vh;
  height: 5vh;
  border: none;
  background: white;
  border-radius: 1vh;
  margin-left: 0.5vh;
  color: #809FFF;
}

.MainTopSearchDiv button:active {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .1);
}

.MainSelection {

}

.MainSelection button {
  width: 15vw;
  height: 30vh;

  margin: 6vh;
  border: none;
  border-radius: 2vh;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, .1);
  color: #7094ff;
  background-color: white;
  font-weight: bold;
}

.MainSelection .search_btn {
  background: linear-gradient(140deg, #73D4FF,#809FFF);
  color: white;
}



.MainMidDiv {
  position: relative;
  display: inline-block;
  top: 4vh;
  width: 80%;
  height: 45vh;
  background: #f7f7f7;
  text-align: center;
  border-radius: 2vh;
  box-shadow: 3px 4px 10px 3px rgb(0 0 0 / 10%);
}

.MainMidDiv span {
  display: block;
  position: relative;
  top: 6vh;
}

.MainMidDiv .MidText {
  position: relative;
  top: 5vh;
  font-size: 22px;
}

.MainMidDiv .MidTextEnd {
  top: 12vh;
  color: #777777;
}

.MainMidDiv button {
  position: relative;
  top: 14vh;
  width: 12vh;
  height: 5vh;
  background: #809FFF;
  color: white;
  border-radius: 1vh;
  border: none;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.MainMidDiv button:active {
  position: relative;
  float: right;
  width: 13vh;
  height: 7vh;
  background: #809FFF;
  color: white;
  font-weight: bold;
  border-radius: 1vh;
  border: none;
  margin: 0 30vh 0 0;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
}

.MoveBtn {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.MoveBtn:hover {
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, .1);
}

.mainPageLink {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer {
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  padding: 0 2rem 0 2rem;

  font-size: max(1vw, 12px);
  color: white;
  background: #809FFF;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 3vh 3vh 0 0;

  margin-top: 20vh;
}

.footerText {
  font-size: max(1vw, 10px);
}

/* Error Page css */
.errorsection {
  text-align: center;
}


/* Intro css */
.IntroBtnDiv {
  text-align: center;
  margin: 10vh 0 10vh 0;
}

.IntroBtnDiv button {
  width: 20vh;
  height: 5vh;
  border: none;
  background: white;
  border-radius: 1vh;
  margin-left: 0.5vh;
  color: #809FFF;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
  cursor: pointer;
}


.IntroBtnDiv button:active {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .1);
}

.IntroMoveText {
  color: #809FFF;
}

.IntroMainDiv {
  display: inline-block;
  width: 70%;
  height: 40vh;
  background-color: #f8f8f8;
  text-align: center;
  margin-top: 10vh;
  border-radius: 3vh;
  padding: 3vh;
}

.IntroMainText {
  
}