.CommuBtnDiv button {
    width: 15vw;
    height: 30vh;
    margin: 6vh;
    border: none;
    border-radius: 2vh;
    box-shadow: 0.6em 0.6em 1.2em rgb(0 0 0 / 8%);
    color: #7094ff;
    background: white;
    font-weight: bold;
    animation: fadeIn 0.7s ease-in-out;
    transition: 0.4s;
}

.CommuBtnDiv button:hover {
    width: 17vw;
    height: 32vh;
}

.OutDiv {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

.BoardDiv0 {
    border: 10px solid #f7f7f7;
    background-color: #f7f7f7;
}

.BoardDiv1 {
    border: 10px solid white;
    background-color: white;
}

.QesDetail_No {
    margin: 0vw 5vw;
}

.QuesDetail_Title {
    margin: 0vw 15vw;
}


.QuesDetail_Date {
    margin: 0vw 5vw;
}

.WriteBtn {
    width: 5vw;
    height: 3vw;
    float: right;
    margin: 5vh 15vw 0 0;

    border: none;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 0.3em 0.3em 1.2em rgb(0 0 0 / 8%);
}

.BackBtn {
    width: 8vw;
    height: 3vw;
    border: none;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 0.3em 0.3em 1.2em rgb(0 0 0 / 8%);
}

.DetailDiv {
    margin-top: 10vh;
    height: 50vh;
}

.DetailTitle {
    font-size: 20px;
    font-weight: bold;
}

.DetailDesc {
    display: inline-block;
    width: 70%;
    height: 30vh;
    background-color: #f7f7f7;
    border: 2vw solid #f7f7f7;
}

.DetailDate {
    color: #a0a0a0;
}