.writer_id {
    font-weight: bold;
    font-size: calc(14px + 0.3vw);
    /*min-height: 4vw;*/
    margin: 1vw;
}

.description {
    font-size: calc(14px + 0.1vw);
    color: #7c7c7c;
    margin: 1vw;
}

.commentsDiv0 {
    margin: 2vh;
    background-color: white;
    border-radius: 1vh;
    border: 1vh solid white;
}

.commentsDiv1 {
    margin: 2vh;
    border-radius: 1vh;
    background-color: white;
    border: 1vh solid white;
}

.commentsDiv0:hover {
    box-shadow: 0.3em 0.3em 1.2em rgb(128 159 255 / 10%);
}

.commentsDiv1:hover {
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
}

.DelBtn {
    width: 3vw;
    height: 2vw;
    border: none;
    color: #777777;
    border-radius: 1vh;
    box-shadow: 0.3em 0.3em 1.2em rgb(0 0 0 / 8%);
}

.ReviewForm {
    text-align: center;
    margin: 5vh;
    position: relative;
    top: 10vh;
}

.ReviewDesc {
    display: inline-block;
    width: 50vw;
    height: 10vh;
    border: none;
    border-radius: 2vh;
    box-shadow: 0.6em 0.6em 1.2em rgb(128 159 255 / 8%);
    padding: 1.5vh;
    resize: none;
}