.SeacrchBackground {
    background: linear-gradient(140deg, white, #cff1ff, #d2e0ff, white);
    background-size: 400% 400%;
    animation: AnimationName 5s ease-in-out infinite;
}

.BackgroundDiv {
    display: inline-block;
    width: 90%;
    position: relative;
    top: 5vh;
    text-align: center;
    background-color: white;
    border-radius: 2vh;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .1);
    
}

.cardDiv {
    text-align: center;
}

.SearchMainText {
    position: relative;
    top: 1vw;
    color: #809FFF;
    font-size: calc(14px + 1vw);
    font-family: "Nunito";
    font-weight: bold;
}

.card1 {
    display: inline-block;
    width: 20vw;
    height: 30vh;
    margin: 3vh;
    padding: 3vh;
    border-radius: 3vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
    vertical-align: top;

    animation: fadeIn 0.7s ease-in-out;
}

.card1:hover {
    display: inline-block;
    width: 20vw;
    height: 30vh;
    margin: 3vh;
    padding: 3vh;
    border-radius: 3vh;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, .1);
    vertical-align: top;
}

.SearchSection {
    width: 100%;
    height: 10vh;
}

.Hname {
    font-weight: bold;
    font-size: calc(14px + 0.3vw);
    min-height: 4vw;
    margin: 1vw;
}

.Haddr {
    font-size: calc(14px + 0.1vw);
    color: #7c7c7c;
}

.Htelno {
    font-size: calc(14px + 0.1vw);
    color: #809FFF;
}

.symptom_level {
    width: 15vw;
    height: 3vw;
    border: none;
    margin: 0.5vw;
    text-align: center;
    color: black;
    background-color: #f7f7fb;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
}

.symptom {
    width: 15vw;
    height: 3vw;
    margin: 0.5vw;
    border: none;
    text-align: center;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
    background-color: #f7f7fb;
}

.formBtn {
    width: 10vw;
    height: 3vw;
    margin: 0.5vw;
    border: none;
    text-align: center;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
    background-color: #809FFF;
    color: white;
    cursor: grab;
}

.symptom_level:hover {
    width: 15vw;
    height: 3vw;
    border: none;
    margin: 0.5vw;
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .2);
}

.symptom:hover {
    width: 15vw;
    height: 3vw;
    margin: 0.5vw;
    border: none;
    text-align: center;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .2);
}

.formBtn:hover {
    width: 10vw;
    height: 3vw;
    margin: 0.5vw;
    border: none;
    text-align: center;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .2);
}

.noneResultText {
    color: #777777;
    height: 30vh;
    min-height: 350px;
}

.CallBtn {
    border: none;
    background-color: #809FFF;
    color: white;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
}

.CallBtn:hover {
    border: none;
    background-color: #7093fc;
    color: white;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, .1);
}

.inputAddr {
    width: 15vw;
    height: 3vw;
    border: none;
    margin: 0.5vw;
    border-radius: 1vh;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
    transition: .2s;
}

.inputAddr:focus {
    outline: none;
}

.AddrBtn {
    height: 3vw;
    border: none;
    margin: 0.5vw 0.5vw 0.5vw 0;
    border-radius: 1vh;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
    border: none;
    background-color: #f7f7fb;
}

.DetailBtn {
    border: none;
    margin: 1vh;
    background-color: #ffffff;
    color: #7093fc;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
}

.DetailBtn:hover {
    border: none;
    background-color: #ffffff;
    color: #7093fc;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, .1);
}

.commentsForm {
    text-align: center;
    margin: 5vw;
}

#description {
    display: inline-block;
    width: 50vw;
    height: 5vh;
    border: none;
    border-radius: 2vh;
    box-shadow: 0.6em 0.6em 1.2em rgb(0 0 0 / 8%);
    padding: 1.5vh;
    resize: none;
}

#description:focus {
    outline: none;
    box-shadow: 0.6em 0.6em 1.2em rgb(0 0 0 / 10%);
}

.SubmitBtnDiv {
    width: 100%;
    display: inline-block;
    text-align: center;
}

#submitBtn {
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: #809FFF;
    color: white;
    border-radius: 1vw;
    margin: 1vw;
    max-width: 70px;
    box-shadow: 0.3em 0.3em 1.2em rgb(0 0 0 / 8%);
}

#submitBtn:active {
    box-shadow: 0.3em 0.3em 1.2em rgb(0 0 0 / 10%);
}

.commentsNoneText {
    color: #777777;
}

.SearchBtnActive {
    width: 8vw;
    height: 2vw;
    margin: 0.5vw;
    border: none;
    text-align: center;
    border-radius: 1vh;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
    background-color: #809FFF;
    color: white;
}

.SearchBtnNonActive {
    width: 8vw;
    height: 2vw;
    margin: 0.5vw;
    border: none;
    text-align: center;
    border-radius: 1vh;
    background-color: #f7f7fb;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .1);
}

.SearchBtnActive:active {
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, .2);
}

.SearchBtnNonActive:active {
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, .2);
}







/* animation */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 3;
      transform: none;
    }
  }