#inputId {
    border: 1vw solid rgb(232, 240, 254);
    width: 15vw;
    height: 3vw;
    margin: 0.5vw;
    max-width: 150px;
    max-height: 20px;
    border-radius: 1vw;
}

#inputPassword {
    border: 1vw solid rgb(232, 240, 254);
    width: 20vw;
    height: 3vw;
    margin: 0.5vw;
    max-width: 200px;
    max-height: 20px;
    border-radius: 1vw;
}

#createId {
    border: 1vw solid rgb(232, 240, 254);
    width: 15vw;
    height: 3vw;
    margin: 0.5vw;
    max-width: 150px;
    max-height: 20px;
    border-radius: 1vw;
}

#createPassword {
    border: 1vw solid rgb(232, 240, 254);
    width: 20vw;
    height: 3vw;
    margin: 0.5vw;
    max-width: 200px;
    max-height: 20px;
    border-radius: 1vw;
}